# Pandas:

        --> Pandas is mainly used for manuplualtiong our daata sets.
        
        --> Data Frames is a main object in pandas.
        
        --> It's representmdata with rows and coloumns.

In [2]:
import pandas as pd
student_info ={'Id':['100','101','102','103','104','105'],
              'Name':['Raj','Sam','kalai','ram','Taj','Samy'],
              'Departments':['Mech','EEE','ECE','IT','CSE','CIVIL'],
              'Passed_Out':['2018','2019','2018','2019','2019','2018']}
data = pd.DataFrame(student_info)
print(data)

    Id   Name Departments Passed_Out
0  100    Raj        Mech       2018
1  101    Sam         EEE       2019
2  102  kalai         ECE       2018
3  103    ram          IT       2019
4  104    Taj         CSE       2019
5  105   Samy       CIVIL       2018

# Data Types in Pandas:

        --> We have three types of data sets in pandas.They are
        
                1.Series.
                
                2.DataFrame.
                
                3.Panel.

# Series:

        --> series its represened by one dimensional.

In [32]:
import pandas as pd
l = [4,6,5,2,5,4,8,9]
df = pd.Series(l)
print(l)

[4, 6, 5, 2, 5, 4, 8, 9]

# DataFrame:
    
            --> It's represented by two dimensional.

In [34]:
import pandas as pd
employeers_info={'emp_id':['23670','28675','89655','65785','89765'],
                'emp_name':['saravanan','selvem','thirupathi','Arunachalam','Planival'],
                'phone_num':['9856879867','8967594934','8798675456','9987567678','8955557645'],
                'District':['vellore','salem','karur','chennai','covai']}
data = pd.DataFrame(employeers_info)
print(data)

  emp_id     emp_name   phone_num District
0  23670    saravanan  9856879867  vellore
1  28675       selvem  8967594934    salem
2  89655   thirupathi  8798675456    karur
3  65785  Arunachalam  9987567678  chennai
4  89765     Planival  8955557645    covai

# Panel:
    
            --> it's represented by multi dimensional.

# Reading CSV & Excel File using Pandas:

In [6]:
import pandas as pd
data = pd.read_csv('C:/Users/makro 1997/Churn_Modelling.csv')
print(data)

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]

# First Five values in data set:

In [9]:
import pandas as pd
data = pd.read_csv('C:/Users/makro 1997/Churn_Modelling.csv')
print(data.head(5))

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
0          1    15634602  Hargrave          619    France  Female   42
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0       2       0.00              1          1               1
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1

   EstimatedSalary  Exited
0        101348.88       1
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0

# Last Five values in data set:

In [10]:
import pandas as pd
data = pd.read_csv('C:/Users/makro 1997/Churn_Modelling.csv')
print(data.tail(5))

      RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

# Slicing the data set in pandas:

In [12]:
import pandas as pd
data = pd.read_csv('C:/Users/makro 1997/Churn_Modelling.csv')
print(data[200:205])

     RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
200        201    15604482  Chiemezie          850     Spain    Male   30
201        202    15622911       Jude          759    France    Male   42
202        203    15600974         He          516     Spain    Male   50
203        204    15727868     Onuora          711    France  Female   38
204        205    15627801  Ginikanwa          512     Spain    Male   33

     Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
200       2  141040.01              1          1               1
201       4  105420.18              1          0               1
202       5       0.00              1          0               1
203       2  129022.06              2          1               1
204       3  176666.62              1          1               0

     EstimatedSalary  Exited
200          5978.20       0
201        121409.06       0
202        146145.93       1
203         14374.86       1
204         94670.77       0

# Column Names:

In [14]:
import pandas as pd
data = pd.read_csv('C:/Users/makro 1997/Churn_Modelling.csv')
print(data.columns)

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

# Pandas:

        --> High perfomance data analysis tool.
        
        --> Work with large daat set.
        
        --> More flexiable to use.
        
        --> Represent in table form(rows & columns).
        
        --> Indexing-Slicing-Subseting the large dataset.
        
        --> Accept (or) support files with different file formates.
        
        --> We can merge and join two different data sets easily.
        
        --> Reshape the datasets.